 <%= f.input :recipe_id, :as => :hidden, :input_html => { :value => @recipe.id } %>
 
  <%# @recipe.update_attributes(times_brewed: @recipe.times_brewed+=1) %>

 
  
      <div class="form-horizontal">
      <fieldset>
          <legend>Brew Start Date</legend>
          <%# render 'shared/error_messages', object: f.object %>
         
       

 

    <div class="control-group">
    <label class="control-label" for="inputIcon">Select Date</label>
    <div class="controls">
    <div class="input-prepend">
    <span class="add-on"><i class="icon-calendar"></i></span>
    <%= f.text_field :start_date_time %>
    </div>
    </div>
    </div>

      </fieldset>
      <fieldset>
          <legend>Recipe Used</legend>
        </fieldset>
        <h3><%= @recipe.recipe_name %> created by <%= @recipe.user.name %> on <%= current_user.williams_warn_number %></h3
           <div class="span6">
            <%= f.hidden_field :brew_code %>
            <%= f.hidden_field :brewing_method %>
            <%= f.hidden_field :overall_beverage_style %>
            <%= f.hidden_field :bjcp_beer_style %>
            <%= f.hidden_field :beer_thinker %>
            <%= f.hidden_field :recipe_name %>
          </div>
<table class="table table-striped">
  
  
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
 <tbody>
      <tr>
        <td>Recipe Name</td>
        <td><%= @recipe.recipe_name %></td>
      </tr>
      <tr>
        <td>Recipe Code</td>
        <td><%= @recipe.recipe_code %></td>
      </tr>
      <tr>
        <td>Recipe Version for the Category</td>
        <td><%= @recipe.iteration %></td>
      </tr>
      <tr>
        <td>BJCP Category</td>
        <td><%= @recipe.bjcp_category %></td>
      </tr>
      <tr>
        <td>Beer Style</td>
            <% if @recipe.beer_style != "" %>
              <td><%= @recipe.beer_style %></td>
            <% else %>
              <td><%= @recipe.generic_category %></td>
            <% end %>
      </tr>
      <tr>
        <td>Original Gravity</td>
        <td><%= @recipe.original_gravity %></td>
      </tr>
      <tr>
        <td>Estimated Final Gravity</td>
        <td><%= @recipe.estimate_fg %></td>
      </tr>
      <tr>
        <td>Estimated % Alcohol by Volume</td>
        <td><%= @recipe.estimate_alcohol %></td>
      </tr>
      <% if @recipe.bitterness != nil %>
      <tr>
        <td>Bitterness</td>
        <td><%= @recipe.bitterness.to_s() + " IBU" %></td>
      </tr>
      <% end %>
      <% if @recipe.colour != nil %>
      <tr>
        <td>Colour</td>
        <td><%= @recipe.colour.to_s() + " " + @recipe.colour_unit %></td>
      </tr>
      <% end %>
      <% if @recipe.water != nil %>
      <tr>
        <td>Brew Volume</td>
        <td><%= @recipe.water.to_s() + " " + @recipe.water_unit %></td>
      </tr>
      <% end %>
      <tr>
        <td>Brewing Method</td>
        <td><%= @recipe.brewing_method %></td>
      </tr>
      <% @recipe.ww_extracts.each do |e| %>
        
        <tr>
          <td>WW Extract</td>
          <td><%= e.extract + " " + e.weight.to_s() + e.units %></td>
        </tr>
      <% end %>
      <% @recipe.other_extracts.each do |o| %>
        
        <tr>
          <td>Other Extract</td>
          <td><%= o.extract + " " + o.weight.to_s() + o.units %></td>
        </tr>
      <% end %>

      <% @recipe.adjuncts.each do |a| %>
        
        <tr>
          <td>WW Adjunct</td>
          <td><%= a.adjunct + " " + a.weight.to_s() + a.units %></td>
        </tr>
      <% end %>

     <% @recipe.other_adjuncts.each do |oa| %>
        
        <tr>
          <td>Other Adjunct</td>
          <td><%= oa.adjunct + " " + oa.weight.to_s() + oa.units %></td>
        </tr>
      <% end %>
       
     
      <% @recipe.sugars.each do |s| %>
        
        <tr>
          <td>Sugar</td>
          <td><%= s.sugar + " " + s.weight.to_s() + s.units %></td>
        </tr>
      <% end %> 

    <% if @recipe.other_ingredient != "" %>
      <tr>
        <td>Other Ingredients</td>
        <td><%= @recipe.other_ingredient %></td>
      </tr>
      <% end %>


    <% if @recipe.yeast_type == "Dry" %>
      <tr>
        <td>Yeast</td>
        <td><%= @recipe.yeast + " (" + @recipe.yeast_type + ")" + ", " +
        @recipe.yeast_weight.to_s() + @recipe.yeast_weight_unit %></td>
      </tr>
    <% end %>
    <% if @recipe.yeast_type == "Liquid" %>
      <tr>
        <td>Yeast</td>
        <td><%= @recipe.yeast + " (" + @recipe.yeast_type + ")" + ", " + @recipe.yeast_packs.to_s() + " Pack(s), "+
        @recipe.yeast_starter_size.to_s() + @recipe.yeast_starter_unit + " Starter" %>
      </tr>
    <% end %> 
      
      <% @recipe.hops.each do |h| %>
        
        <tr>
          <td>Hop</td>
          <td><%= h.name + ", Alpha Acid (%) " + h.alpha_acids.to_s() + ", " + h.amount.to_s() + h.amount_unit +
          ", " + h.boil_or_steep + " for " + h.boil_or_steep_time.to_s() + " " + h.boil_or_steep_unit + ", in " + 
          h.steep_water_volume.to_s() + " " + h.volume_unit + " " + h.liquid_type + ", at " + h.steep_water_temp.to_s() + " " + h.temp_unit %></td>
        </tr>
      <% end %>

      <% @recipe.grains.each do |g| %>
        <tr>
          <td>Grain</td>
          <td><%= g.name + ", Colour " + g.colour.to_s() + g.colour_unit+ ", " + g.amount.to_s() + g.weight_unit+", "+
          g.method + " for " + g.steep_time + " " + g.steep_time_unit + ", in " + g.steep_water.to_s() + " " + g.water_unit + " water, Initial Temp  " + g.steep_water_temp.to_s() + g.water_temp_unit %>
          </td>
        </tr>
      <% end %>

    <% if @recipe.recipe_note != "" %>
      <tr>
        <td>Recipe Notes</td>
        <td><%= @recipe.recipe_note %></td>
      </tr>
      <% end %>

<tr>
        <td>Published</td>
        <td><%= @recipe.published %></td>
      </tr>
    </tbody>
  </table>

 <fieldset>
<legend>Wort Production</legend>
</fieldset>
<fieldset>
          
          <div class="span12">
            <%= f.input :wort_must_production_notes, :as => :text, label: "Notes", :input_html => { :rows => 2 } %>
          </div>

      </fieldset>
      

 <fieldset>
<legend>Fermentation data</legend>
</fieldset>
      <%= f.simple_fields_for :fermentations do |h| %>
 <fieldset>
<%#LEGEND TAG HERE f.submit "Save Data" ,:class => 'btn btn-med btn-success'%> 
     <%# h.link_to_remove "X", :class => 'btn btn-med btn-danger' %>
  
</fieldset>
     <fieldset>

         
      <div class="span4">
      <%= h.input :day %>
    </div>
    <div class="span4">
      <%= h.input :specific_gravity, label: "Specific Gravity" %>
    </div>
  <div class="span4">
      <%= h.link_to_remove "Delete Day", :class => 'btn btn-med btn-danger' %>
    </div>


</fieldset>


<fieldset>
    <div class="span4">
      <%= h.input :temperature %>
    </div>
    <div class="span4">
      <%= h.input :temperature_unit, label: "Units", collection: ["C", "F"] %>
    </div>
    </fieldset>
    <fieldset>
    <div class="span4">
      <%= h.input :pressure %>
    </div>
    <div class="span4">
      <%= h.input :pressure_unit, label: "Units", collection: ["bar", "psi"] %>
    </div>
    </fieldset>
<fieldset>
   
    
     <div class="span12">
    
      <%= h.input :notes, :as => :text, label: "Notes", :input_html => { :rows => 2 } %>
    </div>
    
</fieldset>
<hr></hr>
    
    

     
   
        
      <% end %>

<%= f.link_to_add "Add New Fermentation Data", :fermentations,:class => 'btn btn-med btn-primary' %> 
     <br></br>

<fieldset>
<legend>Clarification</legend>
</fieldset>
  <div class="span12">
            <%= f.input :clarifiaction, :as => :text, label: "Notes", :input_html => { :rows => 2 } %>
          </div>

          <fieldset>
          <legend>Final Product</legend>
        </fieldset>
        <fieldset>
          <%# render 'shared/error_messages', object: f.object %>
          <div class="span4">
            
            <%= f.input :actual_og, label: "Actual Original Gravity" %>
          </div>
          <div class="span4">
            
            <%= f.input :estimate_fg, label: "Actual Final Gravity" %>
          </div>
          <div class="span4">
            
            <%= f.input :alcohol_percentage, label: "% Alcohol by volume" %>
          </div>
          <div class="span12">
            <%= f.input :taste, :input_html => { :rows => 2 } %>
          </div>
          <div class="span3">
            
            <%= f.input :taste_score %>
          </div>
          <div class="span12">      
            <%= f.input :colour, :input_html => { :rows => 2 }  %>
          </div>
          <div class="span12">
            
            <%= f.input :clarity, :input_html => { :rows => 2 }  %>
          </div>
          <div class="span12">
            
            <%= f.input :carbonation, :input_html => { :rows => 2 }  %>
          </div>
          <div class="span12">
            
            <%= f.input :other_comments , :input_html => { :rows => 2 } %>
          </div>
</fieldset>

 <fieldset>
          <legend>Choose Picture to Upload</legend>
        </fieldset>
    <div class="span4">
      <%= f.file_field :image %>
    </div>

  
<%= f.submit "Upload Image" ,:class => 'btn btn-med btn-primary'  %>
<br></br>
<br></br>
    <fieldset>
    
    <div>
<%= f.submit "Save Brew" ,:class => 'btn btn-large btn-success'  %>
</div>
     </fieldset>
      </div>
       