<h1>Record a brew</h1>

 
<div class="row">
	<%= simple_nested_form_for @brew do |f| %>
	<%= f.input :recipe_id, :as => :hidden, :input_html => { :value => @recipe.id } %>
	
      <div class="form-horizontal">
    	<fieldset>
      		<legend>Brew Information</legend>
      		<%# render 'shared/error_messages', object: f.object %>
      		<div class="span3">
      			<%= f.input :brew_number %>
      		</div>
      		<div class="span3">
      			
      			<%= f.text_field :start_date_time, label: "Date" %>
      		</div>

    	</fieldset>
    	<fieldset>
      		
      		<div class="span7">
      			<%= f.input :wort_must_production_notes, :as => :text, label: "Wort / Must Production Notes", :input_html => { :rows => 5 } %>
      		</div>

<table class="table table-striped">
  
  <caption><%= @recipe.recipe_code %> brewed by <%= @recipe.user.name %> on <%= current_user.williams_warn_number %></caption>
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Recipe Code</td>
        <td><%= @recipe.recipe_code %></td>
      </tr>
      <tr>
        <td>Beer Style</td>
        <td><%= @recipe.beer_style %></td>
      </tr>
      <tr>
        <td>Original Gravity</td>
        <td><%= @recipe.original_gravity %></td>
      </tr>
      <tr>
        <td>Brewing Method</td>
        <td><%= @recipe.brewing_method %></td>
      </tr>
      <% if @recipe.extract != "" %>
      <tr>
        <td>Malt Extract</td>
        <td><%= @recipe.extract %></td>
      </tr>
      <% end %>
      <% if @recipe.adjunct != "" %>
      <tr>
        <td>Adjunct</td>
        <td><%= @recipe.adjunct %></td>
      </tr>
      <% end %>
      <% if @recipe.sugar != "" %>
      <tr>
        <td>Sugar</td>
        <td><%= @recipe.sugar %></td>
      </tr>
      <% end %>
      <% if @recipe.yeast != "" %>
      <tr>
        <td>Yeast</td>
        <td><%= @recipe.yeast %></td>
      </tr>
      <% end %>

      <% @recipe.hops.each do |h| %>
        
        <tr>
          <td>Hop</td>
          <td><%= h.name + ", Alpha Acids " + h.alpha_acids.to_s() + ", Amount " + h.amount.to_s() + ", " + h.boil_or_steep + " for " + h.boil_or_steep_time.to_s() %></td>
        </tr>
      <% end %>

      <% @recipe.grains.each do |g| %>
        <tr>
          <td>Grain</td>
          <td><%= g.name + ", Colour " + g.colour.to_s() + ", Amount " + g.amount.to_s() + ", Steep for " + g.steep_time %></td>
        </tr>
      <% end %>
<tr>
        <td>Published</td>
        <td><%= @recipe.published %></td>
      </tr>
    </tbody>
  </table>


    	</fieldset>
    	

 <fieldset>
<legend>Fermentation data</legend>
</fieldset>
      <%= f.simple_fields_for :fermentations do |h| %>

     <fieldset>
          <div class="span3">
      <%= h.text_field :date_time %>
      </div>
      <div class="span3">
      <%= h.input :day %>
    </div>
    <div class="span3">
      <%= h.input :specific_gravity %>
    </div>
</fieldset>
<fieldset>
    <div class="span3">
      <%= h.input :temperature %>
    </div>
    <div class="span3">
      <%= h.input :pressure %>
    </div>
     <div class="span6">
    
      <%= h.input :notes, :as => :text, label: "Notes", :input_html => { :rows => 5 } %>
    </div>
</fieldset>

    
    <div class="span5">
      <%= h.link_to_remove "Delete", :class => 'btn btn-med btn-danger' %>   
    </div>

     
   
        
      <% end %>

      <p><%= f.link_to_add "Add data", :fermentations,:class => 'btn btn-med btn-primary' %></p>


		<div class="span5">
			<%= f.input :published, label: 'Publish to Beer Thinkers Community', as: :radio_buttons %>
		</div>

     	<p><%= f.submit "Save brew" ,:class => 'btn btn-large btn-success'%></p>
      </div>
    <% end %>
</div>






<!--:alcohol_percentage, :brew_number, :carbonation, :clarifiaction, :clarity, 
  :other_comments, :start_date_time, :taste, :taste_score, :wort_must_production_notes, :fermentations_attributes -->