<%= javascript_include_tag "brew" %>
<% provide(:title, 'Edit a Brew') %>
<h1>Edit a Brew</h1>

<div class="row">
  <%= simple_nested_form_for @brew do |f| %>
    	<script>
    var ww_number="<%= current_user.williams_warn_number %>";
    var rec_code = "<%= @recipe.recipe_code %>";
    var brewer = "<%= current_user.name %>";
     var brewing_method = "<%= @recipe.brewing_method %>";
    var overall_beverage_style = "<%= @recipe.generic_category %>";
    var bjcp_beer_style = "<%= @recipe.beer_style %>";
    var recipe_name = "<%= @recipe.recipe_name %>";
  </script>


  <div id="brew_image">
 
      <%= image_tag @brew.image_url(:thumb).to_s if @brew.image_url %>
      
</div>
<%= render 'shared/error_messages', object: f.object %>
    <%= render 'brew', f: f %>
  <% end %>
</div>
