<% provide(:title, 'Brew Search') %>
<h1>Search Published Brews</h1>

<fieldset>
<legend>Search criteria</legend>
</fieldset>


<%= search_form_for @search do  |f| %>
  <fieldset>

  <div class="span6">
    <%= f.label :user_id_eq, "Beer Thinker" %>
    <%= f.select :user_id_eq,  options_from_collection_for_select(User.all, :id, :name, @search.user_id_eq), include_blank: true %>
  </div>

  <div class="span6"><%= f.submit "Search" ,:class => 'btn btn-large btn-success'%></div>
</fieldset>
  <% end %>


<%# will_paginate %>

<fieldset>
<legend>Brews</legend>
</fieldset>


  
   
<table class="table table-striped">
      <thead>
        <tr>
          <th>Recipe Code</th>
          <th>Author</th>
          <th>Number of times brewed</th>
        </tr>
      </thead>
      <tbody>
        <% @brews.each do |brew| %>
        <% if (brew.published? || brew.user.name == current_user.name) %>
          <tr>
            
            <td><%= link_to brew.brew_number, brew %></td>
            <td><%= brew.user.name %></td>
              <td>3</td>
                
          </tr>
      <% end %>
        <% end %>
      </tbody>
    </table>


  	 
   
<%# will_paginate %>

