<%= javascript_include_tag "brew" %>
<% provide(:title, 'Record a Brew') %>
<h1>Record a New Brew</h1>
<div class="row">
  <%= simple_nested_form_for @brew do |f| %>
  	<script>
    var ww_number="<%= current_user.williams_warn_number %>";
    var rec_code = "<%= @recipe.recipe_code %>";
    var brewer = "<%= current_user.name %>";
  </script>
    <%= render 'brew', f: f %>
  <% end %>
</div>






<!--:alcohol_percentage, :brew_number, :carbonation, :clarifiaction, :clarity, 
  :other_comments, :start_date_time, :taste, :taste_score, :wort_must_production_notes, :fermentations_attributes -->