<%# javascript_include_tag "brew_chart" %>
<h3><%= @recipe.recipe_name %> brewed by <%= @brew.user.name %></h3>

<div id="brew_image">
 
      <%= image_tag @brew.image_url(:thumb).to_s %>
      
</div>



<table class="table table-striped">
  
 
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Brew Name</td>
        <td><%= @recipe.recipe_name %></td>
      </tr>
      <tr>
        <td>Brew Code</td>
        <td><%= @brew.brew_code %></td>
      </tr>
      <tr>
        <td>Recipe Code</td>
        <td><%= @recipe.recipe_code %></td>
      </tr>
      <tr>
        <td>Beer Style</td>
        <td><%= @recipe.beer_style %></td>
      </tr>
      <tr>
        <td>Brewing Method</td>
        <td><%= @recipe.brewing_method %></td>
      </tr>
      <% if @recipe.extract != "" %>
      <tr>
        <td>Malt Extract</td>
        <td><%= @recipe.extract %></td>
      </tr>
      <% end %>
      <% if @recipe.adjunct != "" %>
      <tr>
        <td>Adjunct</td>
        <td><%= @recipe.adjunct %></td>
      </tr>
      <% end %>
      <% if @recipe.sugar != "" %>
      <tr>
        <td>Sugar</td>
        <td><%= @recipe.sugar %></td>
      </tr>
      <% end %>
      <% if @recipe.yeast != "" %>
      <tr>
        <td>Yeast</td>
        <td><%= @recipe.yeast %></td>
      </tr>
      <% end %>

      <% @recipe.hops.each do |h| %>
        
        <tr>
          <td>Hop</td>
          <td><%= h.name + ", Alpha Acids " + h.alpha_acids.to_s() + ", Amount " + h.amount.to_s() + ", " + h.boil_or_steep + " for " + h.boil_or_steep_time.to_s() %></td>
        </tr>
      <% end %>

      <% @recipe.grains.each do |g| %>
        <tr>
          <td>Grain</td>
          <td><%= g.name + ", Colour " + g.colour.to_s() + ", Amount " + g.amount.to_s() + ", Steep for " + g.steep_time %></td>
        </tr>
      <% end %>


      <% @brew.fermentations.each do |ferm| %>

        <tr>
          <td>Day <%= ferm.day %></td>
          <td>


            <%= "SG: " + ferm.specific_gravity + ", Temperature: " + ferm.temperature.to_s() + ", Pressure: " + ferm.pressure.to_s() + ", Notes: " + ferm.notes%></td>
        </tr>
      <% end %>
   <tr>
        <td>Actual Original Gravity</td>
        <td><%= @brew.actual_og %></td>
      </tr>
      <tr>
        <td>Actual Final Gravity</td>
        <td><%= @brew.estimate_fg %></td>
      </tr>
      <tr>
        <td>Alcohol Percentage</td>
        <td><%= @brew.alcohol_percentage %></td>
      </tr>
      <tr>
        <td>Clarification</td>
        <td><%= @brew.clarifiaction %></td>
      </tr>

      <tr>
        <td>Taste</td>
        <td><%= @brew.taste %></td>
      </tr>
      <tr>
        <td>Taste Score</td>
        <td><%= @brew.taste_score %></td>
      </tr>
      <tr>
        <td>Clarity</td>
        <td><%= @brew.clarity %></td>
      </tr>
      <tr>
        <td>Carbonation</td>
        <td><%= @brew.carbonation %></td>
      </tr>
      <tr>
        <td>Published</td>
        <td><%= @recipe.published %></td>
      </tr>
    </tbody>
  </table>

<fieldset>
<legend>Fermentation chart</legend>
</fieldset>

<div id="fermentation_chart" style="width: 560px; height: 300px;"></div>


<% temp_array = Array.new() %>
<% pressure_array = Array.new() %>
<% sg_array = Array.new() %>
<% sg_array_number = Array.new() %>
<% temp_disp_unit = Array.new() %>
<% pressure_disp_unit = Array.new() %>

<% @brew.fermentations.each {|x| %>
    <% temp_array += [x[:temperature]]    %>
    <% pressure_array += [x[:pressure]]    %>
    <% temp_disp_unit += [x[:temperature_unit]]    %>
    <% pressure_disp_unit += [x[:pressure_unit]]    %>
    <% sg_array += [x[:specific_gravity]]    %>
    <% sg_array_number += [x[:specific_gravity].to_f * 1000]    %>
<% } %>


<script type="text/javascript" charset="utf-8">
  $(function () {
  
 


  new Highcharts.Chart({
    chart: { renderTo: 'fermentation_chart' },
    title: { text: 'Fermentation Data by Day' },
    xAxis: { title: { text: 'Day'},
      categories: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'],
         max: 12
         
     },
      yAxis: [{ title: { text: 'Specific Gravity'} },
              { title: { text: 'Temperature (' + 'deg ' + '<%= temp_disp_unit[0] %>' +')'}, opposite: true },
              { title: { text: 'Pressure (' + '<%= pressure_disp_unit[0] %>' +')'},opposite: true }],
     series: [{ name: "Pressure", yAxis: 1, data: <%= pressure_array %> },
        { name: "Temperature", yAxis: 2, data: <%= temp_array %> },
        { name: "Specific Gravity", data: <%= sg_array_number %> }
      ]
  });
});
</script>




<fieldset>
<legend>Other Comments</legend>
</fieldset>
<table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Comment</td>
        <td><%= @brew.other_comments %></td>
      </tr>

    </tbody>
  </table>
