<%# javascript_include_tag "brew_chart" %>
<h3><%= @recipe.recipe_name %> brewed by <%= @brew.user.name %></h3>

<div id="brew_image">
 
      <%= image_tag @brew.image_url(:thumb).to_s if @brew.image_url %>
      
</div>



<table class="table table-striped">
  
 
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
         <tr>
        <td>Recipe Name</td>
        <td><%= @recipe.recipe_name %></td>
      </tr>
     <tr>
        <td>Brewing Method</td>
        <td><%= @recipe.brewing_method %></td>
      </tr>
     
       <% if @recipe.generic_category != "" %>
      <tr>
        <td>Generic Style</td>
            
              <td><%= @recipe.generic_category %></td>
            
           
      </tr>
       <% end %>
      <% if @recipe.bjcp_category != "" %>
      <tr>
        <td>BJCP Category</td>
        <td><%= @recipe.bjcp_category %></td>
      </tr>
      <% end %>
      <% if @recipe.beer_style != "" %>
      <tr>
        <td>BJCP Style</td>
            
              <td><%= @recipe.beer_style %></td>
           
           
      </tr>
      <% end %>
     <% if @recipe.original_gravity != "" %>
      <tr>
        <td>Original Gravity</td>
        <td><%= @recipe.original_gravity %></td>
      </tr>
      <% end %>
      <% if @recipe.estimate_fg != "" %>
      <tr>
        <td>Estimated Final Gravity</td>
        <td><%= @recipe.estimate_fg %></td>
      </tr>
      <% end %>
      <% if @recipe.estimate_alcohol != "" %>
      <tr>
        <td>Estimated % Alcohol by Volume</td>
        <td><%= @recipe.estimate_alcohol %></td>
      </tr>
      <% end %>
      <% if @recipe.bitterness != nil %>
      <tr>
        <td>Bitterness</td>
        <td><%= @recipe.bitterness.to_s() + " IBU" %></td>
      </tr>
      <% end %>
      <% if @recipe.colour != nil %>
      <tr>
        <td>Colour</td>
        <td><%= @recipe.colour.to_s() + " " + @recipe.colour_unit %></td>
      </tr>
      <% end %>
      <% if @recipe.water != nil %>
      <tr>
        <td>Brew Volume</td>
        <td><%= @recipe.water.to_s() + " " + @recipe.water_unit %></td>
      </tr>
      <% end %>
      
      <% @recipe.ww_extracts.each do |e| %>
        
        <tr>
          <td>WW Extract</td>
          <td><%= e.extract + " " + e.weight.to_s() + e.units %></td>
        </tr>
      <% end %>
      <% @recipe.other_extracts.each do |o| %>
        
        <tr>
          <td>Other Extract</td>
          <td><%= o.extract + " " + o.weight.to_s() + o.units %></td>
        </tr>
      <% end %>

      <% @recipe.adjuncts.each do |a| %>
        
        <tr>
          <td>WW Adjunct</td>
          <td><%= a.adjunct + " " + a.weight.to_s() + a.units %></td>
        </tr>
      <% end %>

     <% @recipe.other_adjuncts.each do |oa| %>
        
        <tr>
          <td>Other Adjunct</td>
          <td><%= oa.adjunct + " " + oa.weight.to_s() + oa.units %></td>
        </tr>
      <% end %>
       
     
      <% @recipe.sugars.each do |s| %>
        
        <tr>
          <td>Sugar</td>
          <td><%= s.sugar + " " + s.weight.to_s() + s.units %></td>
        </tr>
      <% end %> 

    <% if @recipe.other_ingredient != "" %>
      <tr>
        <td>Other Ingredients</td>
        <td><%= @recipe.other_ingredient %></td>
      </tr>
      <% end %>

  <%= @yeastie %>
   
      <tr>
        <td>Yeast</td>
        <td><%= @recipe.yeast  + " (" + @recipe.yeast_type + ")" + ", " + @recipe.yeast_packs.to_s() + " Pack(s), "+
        @recipe.yeast_starter_size.to_s() + @recipe.yeast_starter_unit + " Starter" %></td>
      </tr>
    
      
      <% @recipe.hops.each do |h| %>
        
        <tr>
          <td>Hop</td>
          <td><%= h.name + ", Alpha Acid (%) " + h.form + ", " + h.alpha_acids.to_s() + ", " + h.amount.to_s() + h.amount_unit +
          ", " + h.boil_or_steep + " for " + h.boil_or_steep_time.to_s() + " " + h.boil_or_steep_unit + ", in " + 
          h.steep_water_volume.to_s() + " " + h.volume_unit + " " + h.liquid_type + ", at " + h.steep_water_temp.to_s() + " " + h.temp_unit %></td>
        </tr>
      <% end %>

      <% @recipe.grains.each do |g| %>
        <tr>
          <td>Grain</td>
          <td><%= g.name + ", Colour " + g.colour.to_s() + g.colour_unit+ ", " + g.amount.to_s() + g.weight_unit+", "+
          g.method + " for " + g.steep_time + " " + g.steep_time_unit + ", in " + g.steep_water.to_s() + " " + g.water_unit + " water, Initial Temp  " + g.steep_water_temp.to_s() + g.water_temp_unit %>
          </td>
        </tr>
      <% end %>

    <% if @recipe.recipe_note != "" %>
      <tr>
        <td>Recipe Notes</td>
        <td><%= @recipe.recipe_note %></td>
      </tr>
      <% end %>



      <% @brew.fermentations.each do |ferm| %>

        <tr>
          <td>Day <%= ferm.day %></td>
          <td>


            <%= "SG: " + ferm.specific_gravity + ", Temperature: " + ferm.temperature.to_s() + " °" + ferm.temperature_unit +
            ", Pressure: " + ferm.pressure.to_s() + " " + ferm.pressure_unit + ", Notes: " + ferm.notes%></td>
        </tr>
      <% end %>
      <% if @brew.actual_og != "" %>
   <tr>
        <td>Actual Original Gravity</td>
        <td><%= @brew.actual_og %></td>
      </tr>
      <% end %>
      <% if @brew.estimate_fg != "" %>
      <tr>
        <td>Actual Final Gravity</td>
        <td><%= @brew.estimate_fg %></td>
      </tr>
      <% end %>
      <% if @brew.alcohol_percentage != nil %>
      <tr>
        <td>Alcohol Percentage</td>
        <td><%= @brew.alcohol_percentage %></td>
      </tr>
      <% end %>
      <% if @brew.clarifiaction != "" %>
      <tr>
        <td>Clarification</td>
        <td><%= @brew.clarifiaction %></td>
      </tr>
      <% end %>
      <% if @brew.taste != "" %>
      <tr>
        <td>Taste</td>
        <td><%= @brew.taste %></td>
      </tr>
      <% end %>
      <% if @brew.taste_score != nil %>
      <tr>
        <td>Taste Score</td>
        <td><%= @brew.taste_score %></td>
      </tr>
      <% end %>
      <% if @brew.colour != "" %>
      <tr>
        <td>Colour</td>
        <td><%= @brew.colour %></td>
      </tr>
      <% end %>
      <% if @brew.clarity != "" %>
      <tr>
        <td>Clarity</td>
        <td><%= @brew.clarity %></td>
      </tr>
      <% end %>
      <% if @brew.carbonation != "" %>
      <tr>
        <td>Carbonation</td>
        <td><%= @brew.carbonation %></td>
      </tr>
      <% end %>
      <% if @brew.status != nil %>
      <tr>
        <td>Status</td>
        <td><%= @brew.status %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

<fieldset>
<legend>Fermentation chart</legend>
</fieldset>

<div id="fermentation_chart" style="width: 560px; height: 300px;"></div>


<% temp_array = Array.new() %>
<% pressure_array = Array.new() %>
<% sg_array = Array.new() %>
<% sg_array_number = Array.new() %>
<% temp_disp_unit = Array.new() %>
<% pressure_disp_unit = Array.new() %>
<% day_array = Array.new() %>

<% @brew.fermentations.each {|x| %>
    <% day_array += [x[:day].to_f()]    %>
    <% temp_array += [x[:temperature].to_f()]    %>
    <% pressure_array += [x[:pressure].to_f()]    %>
    <% temp_disp_unit += [x[:temperature_unit]]    %>
    <% pressure_disp_unit += [x[:pressure_unit]]    %>
    <% sg_array += [x[:specific_gravity]]    %>
    <% sg_array_number += [x[:specific_gravity].to_f * 1000]    %>
<% } %>

 
<script type="text/javascript" charset="utf-8">
  $(function () {
  
 


  new Highcharts.Chart({
    chart: { renderTo: 'fermentation_chart' },
    title: { text: 'Fermentation Data by Day' },
    xAxis: { title: { text: 'Day'},
      categories: <%= day_array.to_json %>,
         max: 12
         
     },
      yAxis: [{ title: { text: 'Specific Gravity'} },
              
              { title: { text: 'Pressure (' + '<%= pressure_disp_unit[0] %>' +')'},opposite: true },
              { title: { text: 'Temperature (' + 'deg ' + '<%= temp_disp_unit[0] %>' +')'}, opposite: true },],
     series: [{ name: "Pressure", yAxis: 1, data: <%= pressure_array.to_json %> },
        { name: "Temperature", yAxis: 2, data: <%= temp_array.to_json %> },
        { name: "Specific Gravity", data: <%= sg_array_number %> }
      ]
  });
});
</script>




<fieldset>
<legend>Other Comments</legend>
</fieldset>
<table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Comment</td>
        <td><%= @brew.other_comments %></td>
      </tr>

    </tbody>
  </table>
