<fieldset>
  <legend>Recipe Information</legend>
  <%# render 'shared/error_messages', object: f.object %>
  
  <script>
    var admin_user="<%= current_user.admin %>";
    var ww_number="<%= current_user.williams_warn_number %>";
  </script>

  <div class="span6">
    
    <% if current_user.admin %>

    <%= f.input :recipe_name, label: "Recipe Name" %>

    <%= f.input :brewing_method, :as => :select, collection: ["WW Standard Kits", "WW Advanced", "Extract", "Extract + Steeping", "Partial Mash", "All Grain"] %>


    <% else %>
     <%= f.input :brewing_method, collection: ["Extract", "Extract + Steeping", "Partial Mash", "All Grain"]%>
     <% end %>

  
    <%# f.input :brewing_method, collection: BrewingMethod.order(:id), label_method: :brewing_method, value_method: :brewing_method, include_blank: true %>


 <%= f.input :bjcp_category, label: "BJCP Category", collection: BjcpCategory.order(:bjcp_category_id), label_method: :category, value_method: :category, include_blank: true %>
  
  
   <%= f.input(:beer_style, label: "Beer Style", collection: BjcpCategory.order(:bjcp_category_id),
      as: :grouped_select,
      group_method: :beer_styles,
      group_label_method: :category,
      label_method: :beer_style, value_method: :beer_style,
      include_blank: true) %>

<%= f.hidden_field :recipe_code %>


   
 </div>
</fieldset>
    






<fieldset>
  <legend>Extracts</legend>
  <%= f.simple_fields_for :ww_extracts do |e| %>
  <div class="span5">

    <%= e.input :extract, label: "WW Extract", collection: WwBeerKits.order(:id), label_method: :name, value_method: :name, include_blank: true %>
  </div>

  <div class="span3">
    
    <%= e.input :weight, label: "Weight" %>
   
  </div>
  <div class="span3">
    
    <%= e.input :units, label: "Units", collection: ["g", "kg", "oz"], include_blank: true %>
   
  </div>
  <div class="span1">
      <%= e.link_to_remove "X", :class => 'btn btn-med btn-danger' %>   
    </div>
 <% end %>
 <p><%= f.link_to_add "Add WW Extract", :ww_extracts,:class => 'btn btn-med btn-primary' %></p>

<%= f.simple_fields_for :other_extracts do |o| %>

 <div class="span5">

    <%= o.input :extract, label: "Other Extract" %>
  </div>

  <div class="span3">
    
    <%= o.input :weight, label: "Weight" %>
   
  </div>
  <div class="span3">
    
    <%= o.input :units, label: "Units", collection: ["g", "kg", "oz"], include_blank: true %>
   
  </div>  
  <div class="span1">
      <%= o.link_to_remove "X", :class => 'btn btn-med btn-danger' %>   
    </div>
 <% end %>
<p><%= f.link_to_add "Add Other Extract", :other_extracts,:class => 'btn btn-med btn-primary' %></p>
</fieldset>

<fieldset>
  <legend>Adjuncts</legend>

<%= f.simple_fields_for :adjuncts do |a| %>
 <div class="span5">

    <%= a.input :adjunct, label: "Adjunct Type", collection: ["WW DME", "Other"], include_blank: true %>
  </div>

  <div class="span3">
    
    <%= a.input :weight, label: "Weight" %>
   
  </div>
  <div class="span3">
    
    <%= a.input :units, label: "Units", collection: ["g", "kg", "oz"], include_blank: true %>
   
  </div>  
   <div class="span1">
      <%= a.link_to_remove "X", :class => 'btn btn-med btn-danger' %>   
    </div>
 <% end %>
<p><%= f.link_to_add "Add Adjunct", :adjuncts,:class => 'btn btn-med btn-primary' %></p>
</fieldset>
 
 <fieldset>
  <legend>Sugars</legend>

<%= f.simple_fields_for :other_adjuncts do |s| %>
 <div class="span5">

    <%= s.input :adjunct, label: "Sugar Type" %>
  </div>

  <div class="span3">
    
    <%= s.input :weight, label: "Weight" %>
   
  </div>
  <div class="span3">
    
    <%= s.input :units, label: "Units", collection: ["g", "kg", "oz"], include_blank: true %>
   
  </div>  
   <div class="span1">
      <%= s.link_to_remove "X", :class => 'btn btn-med btn-danger' %>   
    </div>
 <% end %>
<p><%= f.link_to_add "Add Sugar", :other_adjuncts,:class => 'btn btn-med btn-primary' %></p>

 
</fieldset>
 
<fieldset>
   <div class="span12">
    <%= f.input :other_ingredient %>
  </div>
</fieldset>

<fieldset>
 
  <div class="span6">
    <%= f.input :yeast %>
  </div>
  
</fieldset>



<fieldset>
  <div class="span6">
    <%= f.input :water, label: "Water Volume" %>
  </div>
  <div class="span6">
    <%= f.input :original_gravity %>
  </div>
</fieldset>
   
<fieldset>
  <legend>Hops</legend>
</fieldset>
<%= f.simple_fields_for :hops do |h| %>

  <fieldset>
    <div class="span4">
      <%= h.input :name %>
    </div>
    <div class="span3">
      <%= h.input :alpha_acids , label: "Alpha Acids (%)"%>
    </div>
    <div class="span3">
      <%= h.input :amount %>
    </div>
  </fieldset>

  <fieldset>
    <div class="span4">
      <%= h.input :boil_or_steep, collection: [ "Boil", "Steep"] %>
    </div>
    <div class="span3">
      <%= h.input :boil_or_steep_time %>
    </div>
     
    
  </fieldset>

  <fieldset>
    <div class="span4">
      <%= h.input :steep_water_volume %>
    </div>
    <div class="span3">
      <%= h.input :steep_water_temp, label: "Steep Water Temperature" %>
    </div>
     
    <div class="span5">
      <%= h.link_to_remove "Delete", :class => 'btn btn-med btn-danger' %>   
    </div>
  </fieldset>
  <hr></hr>
<% end %>

<p><%= f.link_to_add "Add a hop", :hops,:class => 'btn btn-med btn-primary' %></p>

<fieldset>
<legend>Grains</legend>
</fieldset>

<%= f.simple_fields_for :grains do |g| %>

  <fieldset>
    <div class="span5">
      <%= g.input :name %>
    </div>
    <div class="span5">
      <%= g.input :method, collection: [ "Mashed", "Steeped"] %>
    </div>
    
     <div class="span1">
      <%= g.link_to_remove "X", :class => 'btn btn-med btn-danger' %>   
    </div>
  </fieldset>
<fieldset>
   <div class="span5">
      <%= g.input :amount, label: "Grain Weight" %>
    </div>
    <div class="span4">
      <%= g.input :weight_unit, label: "Units", collection: [ "g", "kg", "oz", "lbs"] %>
    </div>
</fieldset>
  <fieldset>
    <div class="span5">
      <%= g.input :colour %>
    </div>
    <div class="span4">
      <%= g.input :colour_unit, label: "Units", collection: [ "L", "SRM", "EBC"] %>
    </div>
 </fieldset>

 <fieldset>
    <div class="span5">
      <%= g.input :steep_water , label: "Water Volume" %>
    </div>
    <div class="span4">
      <%= g.input :water_unit, label: "Units" , collection: [ "ml", "L", "fl.oz", "US Gal"] %>
    </div>
  </fieldset>
<fieldset>
<div class="span5">
      <%= g.input :steep_water_temp, label: "Water Temperature" %>
    </div>
    <div class="span4">
      <%= g.input :water_temp_unit, label: "Units" , collection: [ "C", "F" ] %>
    </div>
</fieldset>

  <fieldset>
    <div class="span5">
      <%= g.input :steep_time , label: "Duration" %>
    </div>
    <div class="span4">
      <%= g.input :steep_time_unit, label: "Units" , collection: [ "min", "hrs", "days" ] %>
    </div>
     
   
  </fieldset>
  <hr></hr>
<% end %>


<p><%= f.link_to_add "Add a grain", :grains,:class => 'btn btn-med btn-primary' %></p>
 <hr></hr>
 <fieldset>
<legend>Publish Recipe Or Keep Private</legend>
</fieldset>
<div class="span12">
  <%= f.input :published, label: 'Publish to Beer Thinkers Community', as: :radio_buttons %>
</div>
<div>
<p><%= f.submit "Save recipe" ,:class => 'btn btn-large btn-success'%></p>
 </div>