<fieldset>
  <legend>Recipe Information</legend>
  <%# render 'shared/error_messages', object: f.object %>
  
  <script>
    var admin_user="<%= current_user.admin %>";
    var ww_number="<%= current_user.williams_warn_number %>";
    var brewer ="<%= current_user.name %>";
  </script>

  <div class="span6">
    
    

    <%= f.input :recipe_name, label: "Recipe Name" %>

  <% if current_user.admin %>
    <%= f.input :brewing_method, collection: ["WW Standard Kits", "WW Advanced", "Extract", "Extract + Steeping", "Partial Mash", "All Grain"] %>


    <% else %>
     <%= f.input :brewing_method, collection: ["Extract", "Extract + Steeping", "Partial Mash", "All Grain"]%>
     <% end %>

   <%= f.input :generic_category, label: "Overall Beverage Style", collection: GenericCategory.order(:generic_category), label_method: :generic_category, value_method: :generic_category, include_blank: true %>
    

 <%= f.input :bjcp_category, label: "BJCP Category", collection: BjcpCategory.order(:bjcp_category_id), label_method: :category, value_method: :category, include_blank: true %>
  
  
   <%= f.input(:beer_style, label: "BJCP Style", collection: BjcpCategory.order(:bjcp_category_id),
      as: :grouped_select,
      group_method: :beer_styles,
      group_label_method: :category,
      label_method: :beer_style, value_method: :beer_style,
      include_blank: true) %>



<%= f.hidden_field :recipe_code %>


    

    <%= f.input :original_gravity, placeholder: "eg 1.040" %>
    <%= f.input :estimate_fg, label: "Estimated Final Gravity", placeholder: "eg 1.010" %>
    <%= f.input :estimate_alcohol, label: "Estimated % Alcohol by Volume" %>
    <%= f.input :bitterness, label: "Bitterness (IBU)" %>
   
 </div>
 
  
</fieldset>
  <fieldset>  
    <div class="span4">
    
    <%= f.input :colour, label: "Colour" %>
   
  </div>
 <div class="span4">
    
    <%= f.input :colour_unit, label: "Units", collection: ["°L", "EBC", "SRM"] %>
   
  </div>
</fieldset>
</fieldset>
  <fieldset>  
    <div class="span4">
    
    <%= f.input :water, label: "Brew Volume" %>
   
  </div>
 <div class="span4">
    
    <%= f.input :water_unit, label: "Units", collection: ["L", "US Gals.", "UK Gals."] %>
   
  </div>
</fieldset>





<fieldset>
  <legend>Extracts</legend>
</fieldset>
<%= f.simple_fields_for :ww_extracts do |e| %>
<fieldset>
  <div class="span5">
    <%= e.input :extract, label: "WW Extract", collection: WwBeerKits.order(:id), label_method: :name, value_method: :name, include_blank: true %>
  </div>
  <div class="span1">
      <%= e.link_to_remove "X", :class => 'btn btn-med btn-danger' %>   
    </div>
 </fieldset>
 <fieldset>   
  <div class="span5">  
    <%= e.input :weight, label: "Weight" %>
  </div>
  <div class="span4">  
    <%= e.input :units, label: "Units", collection: ["g", "kg", "oz", "lbs"], include_blank: true %>
  </div>
 </fieldset> 
 <hr></hr>
 <% end %>

 <p><%= f.link_to_add "Add WW Extract", :ww_extracts,:class => 'btn btn-med btn-primary' %></p>

<%= f.simple_fields_for :other_extracts do |o| %>
<fieldset> 
  <div class="span5">
    <%= o.input :extract, label: "Other Extract" %>
  </div>
  <div class="span1">
      <%= o.link_to_remove "X", :class => 'btn btn-med btn-danger' %>   
  </div>
</fieldset>  
<fieldset> 
  <div class="span5">
    <%= o.input :weight, label: "Weight" %>
  </div>

  <div class="span4">
    <%= o.input :units, label: "Units", collection: ["g", "kg", "oz"], include_blank: true %>
  </div>
</fieldset> 
  <hr></hr>
 <% end %>
<p><%= f.link_to_add "Add Other Extract", :other_extracts,:class => 'btn btn-med btn-primary' %></p>


<fieldset>
  <legend>Adjuncts</legend>
</fieldset>

<%= f.simple_fields_for :adjuncts do |a| %>
<fieldset>
  <div class="span5">
    <%= a.input :adjunct, label: "WW Adjunct Type", collection: ["WW DME"], include_blank: true %>
  </div>
  <div class="span1">
      <%= a.link_to_remove "X", :class => 'btn btn-med btn-danger' %>   
  </div>
</fieldset>
<fieldset>
  <div class="span5">
    <%= a.input :weight, label: "Weight" %>
  </div>

  <div class="span4">
    <%= a.input :units, label: "Units", collection: ["g", "kg", "oz", "lbs"], include_blank: true %>
  </div>  
</fieldset>
  <hr></hr>
<% end %>

<p><%= f.link_to_add "Add WW Adjunct", :adjuncts,:class => 'btn btn-med btn-primary' %></p>

<%= f.simple_fields_for :other_adjuncts do |s| %>
<fieldset>
  <div class="span5">
    <%= s.input :adjunct, label: "Other Adjunct Type" %>
  </div>
  <div class="span1">
    <%= s.link_to_remove "X", :class => 'btn btn-med btn-danger' %>   
  </div>
</fieldset>
<fieldset>
  <div class="span5">   
    <%= s.input :weight, label: "Weight" %> 
  </div>
  <div class="span4">
    <%= s.input :units, label: "Units", collection: ["g", "kg", "oz"], include_blank: true %>
  </div>  
</fieldset>
<hr></hr>
<% end %>

<p><%= f.link_to_add "Add Other Adjunct", :other_adjuncts,:class => 'btn btn-med btn-primary' %></p>

 

 
<fieldset>
  <legend>Sugars</legend>
</fieldset>
<%= f.simple_fields_for :sugars do |s| %>
<fieldset>
  <div class="span5">
    <%= s.input :sugar, label: "Sugar Type" %>
  </div>
  <div class="span1">
      <%= s.link_to_remove "X", :class => 'btn btn-med btn-danger' %>   
    </div>
</fieldset>
<fieldset>   
  <div class="span5">  
    <%= s.input :weight, label: "Weight" %>
  </div>
  <div class="span4">  
    <%= s.input :units, label: "Units", collection: ["g", "kg", "oz"], include_blank: true %>
  </div>
</fieldset> 
<hr></hr>
<% end %>
<p><%= f.link_to_add "Add Other Sugar", :sugars,:class => 'btn btn-med btn-primary' %></p>
 



   
<fieldset>
  <legend>Hops</legend>
</fieldset>
<%= f.simple_fields_for :hops do |h| %>

  <fieldset>
    <div class="span4">
      <%= h.input :name %>
    </div>
    <div class="span3">
      <%= h.input :alpha_acids , label: "Alpha Acids (%)"%>
    </div>
    <div class="span4">
      <%= h.input :boil_or_steep, label: "Method", collection: [ "Boil", "Steep", "Dry Hop"] %>
    </div>
    <div class="span1">
      <%= h.link_to_remove "X", :class => 'btn btn-med btn-danger' %>   
    </div>
  </fieldset>

  <fieldset>
    <div class="span5">
      <%= h.input :amount, label: "Hop Weight" %>
    </div>
    <div class="span4">
      <%= h.input :amount_unit, label: "Units", collection: ["g", "oz"] %>
    </div>
</fieldset>

<fieldset>
    <div class="span5">
      <%= h.input :boil_or_steep_time, label: "Duration" %>
    </div> 
    <div class="span4">
      <%= h.input :boil_or_steep_unit, label: "Units", collection: ["mins", "hrs", "days"] %>
    </div> 
  </fieldset>

  <fieldset>
    <div class="span4">
      <%= h.input :liquid_type, label: "Liquid Type", collection: ["Water", "Wort", "Beer"] %>
    </div>
    <div class="span3">
      <%= h.input :steep_water_volume, label: "Liquid Volume" %>
    </div>
    <div class="span4">
      <%= h.input :volume_unit, label: "Units", collection: ["ml", "L", "fl. oz", "US Gals.", "UK Gals."] %>
    </div>
     
    
  </fieldset>

 <fieldset>
 <div class="span5">
      <%= h.input :steep_water_temp, label: "Liquid Temperature" %>
    </div>
    <div class="span4">
      <%= h.input :temp_unit, label: "Units", collection: ["°C", "°F"]  %>
    </div>
 </fieldset>


  <hr></hr>
<% end %>

<p><%= f.link_to_add "Add a hop", :hops,:class => 'btn btn-med btn-primary' %></p>

<fieldset>
<legend>Grains</legend>
</fieldset>

<%= f.simple_fields_for :grains do |g| %>

  <fieldset>
    <div class="span5">
      <%= g.input :name %>
    </div>
    <div class="span5">
      <%= g.input :method, collection: [ "Mashed", "Steeped"] %>
    </div>
    
     <div class="span1">
      <%= g.link_to_remove "X", :class => 'btn btn-med btn-danger' %>   
    </div>
  </fieldset>
<fieldset>
   <div class="span5">
      <%= g.input :amount, label: "Grain Weight" %>
    </div>
    <div class="span4">
      <%= g.input :weight_unit, label: "Units", collection: [ "g", "kg", "oz", "lbs"] %>
    </div>
</fieldset>
  <fieldset>
    <div class="span5">
      <%= g.input :colour %>
    </div>
    <div class="span4">
      <%= g.input :colour_unit, label: "Units", collection: [ "°L", "SRM", "EBC"] %>
    </div>
 </fieldset>

 <fieldset>
    <div class="span5">
      <%= g.input :steep_water , label: "Water Volume" %>
    </div>
    <div class="span4">
      <%= g.input :water_unit, label: "Units" , collection: [ "ml", "L", "fl.oz", "US Gal", "UK Gals"] %>
    </div>
  </fieldset>
<fieldset>
<div class="span5">
      <%= g.input :steep_water_temp, label: "Initial Rest Temperature" %>
    </div>
    <div class="span4">
      <%= g.input :water_temp_unit, label: "Units" , collection: [ "°C", "°F" ] %>
    </div>
</fieldset>

  <fieldset>
    <div class="span5">
      <%= g.input :steep_time , label: "Duration" %>
    </div>
    <div class="span4">
      <%= g.input :steep_time_unit, label: "Units" , collection: [ "min", "hrs", "days" ] %>
    </div>
     
   
  </fieldset>
  <hr></hr>
<% end %>


<p><%= f.link_to_add "Add a grain", :grains,:class => 'btn btn-med btn-primary' %></p>
 <hr></hr>
 <fieldset>
 <legend>Yeast</legend>
  <div class="span5">
    <%= f.input :yeast %>
  </div>
  <div class="span5">
    <%= f.input :yeast_type, collection: ["Dry", "Liquid"] %>
  </div>
  
</fieldset>
<fieldset>
  <div class="span5">
    <%= f.input :yeast_weight, label: "Weight" %>
  </div>
  
  <div class="span5">
    <%= f.input :yeast_weight_unit, label: "Units", collection: ["g", "oz"] %>
  </div>
</fieldset>

<fieldset>
  <div class="span5">
    <%= f.input :yeast_packs, label: "No. Packs" %>
  </div>
  <div class="span3">
    <%= f.input :yeast_starter_size, label: "Starter Size" %>
  </div>
  <div class="span3">
    <%= f.input :yeast_starter_unit, label: "Units", collection: ["L", "fl. oz"] %>
  </div>
</fieldset>
<fieldset>
  <legend>Recipe Notes</legend>
  <div class="span12">
  <%= f.input :recipe_note, :as => :text,:input_html => { :cols => 200, :rows => 10 } %>
</div>
</fieldset>   

<fieldset>
  <legend>Other Ingredients</legend>

   <div class="span12">
    <%= f.input :other_ingredient, label: "Ingredient" %>
  </div>
</fieldset>


      




 <fieldset>
<legend>Publish Recipe Or Keep Private</legend>
</fieldset>
<div class="span12">
  <%= f.input :published, label: 'Publish to Beer Thinkers Community', as: :radio_buttons %>
</div>
<div>
<p><%= f.submit "Save recipe" ,:class => 'btn btn-large btn-success'%></p>
 </div>