<% provide(:title, 'Recipe Search') %>
<div>
<h1>Search Published Recipes</h1>
</div>

<fieldset>
<legend>Search criteria</legend>
</fieldset>


<%= search_form_for @search do  |f| %>
  <fieldset>
  <div class="span6">
    <%= f.label :beer_style_eq, "Beer Style" %>
    <%# f.text_field :beer_style_cont %>
    <%= f.select :bjcp_category_eq, options_from_collection_for_select(BjcpCategory.all, :category, :category,
    @search.bjcp_category_eq), include_blank: true %>

    <%# f.select :beer_style_eq, options_from_collection_for_select(BeerStyle.all, "id", "beer_style",
     @search.beer_style_eq) %>

    
  </div>
  <div class="span6">
    <%# f.text_field :brewing_method_cont %>

    <%= f.label :brewing_method_eq, "Brewing Method" %>
    <%= f.select :brewing_method_eq,  options_from_collection_for_select(BrewingMethod.all, :brewing_method, :brewing_method, @search.brewing_method_eq), include_blank: true %>

  </div>
  
  <div class="span6">

    <%= f.label :user_id_eq, "Beer Thinker" %>
    <%= f.select :user_id_eq,  options_from_collection_for_select(User.all, :id, :name, @search.user_id_eq), include_blank: true %>

  </div>


  <div class="span6"><%= f.submit "Search" ,:class => 'btn btn-large btn-success'%></div>
</fieldset>
  <% end %>




<%# will_paginate %>

<fieldset>
<legend>Recipes</legend>
</fieldset>


  
   
<table class="table table-striped">
      <thead>
        <tr>
          <th>Recipe Code</th>
          <th>Author</th>
          <th>Number of times brewed</th>
        </tr>
      </thead>
      <tbody>
        <% @recipes.each do |recipe| %>
        <% if (recipe.published? || recipe.user.name == current_user.name) %>
          <tr>
            
            <td><%= link_to recipe.recipe_code, recipe %></td>
            <td><%= recipe.user.name %></td>
              <td><%= recipe.times_brewed %></td>
                
          </tr>
      <% end %>
        <% end %>
      </tbody>
    </table>


  	 
   
<%# will_paginate %>

