<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span3">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      
      <section>
        <%= link_to "Search Published Recipes", recipes_path, :class => 'btn btn-primary' %>
    </section>
    </section>
  </aside>
  <div class="span9">
       <% if current_user?(@user) %>
    <h3>My Brews (<%= @user.brews.count %>)</h3>
  <% else %>
    <h3><%= @user.name %>'s Brews (<%= @user.brews.count %>)</h3>
  <% end %>
  <% if @user.brews.count != 0 %>
      <table class="table table-striped">
      <thead>
        <tr>
          <th>Brew Name</th>
          <th>Created at</th>
          <th>Based on Recipe</th>
          <% if current_user?(@user) %>
            <th>Actions</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @brews.each do |brew| %>
        <% @rec = Recipe.find(brew.recipe_id) %>
              <% @rec_code = @rec.recipe_code %>
          <tr>
              
            <td><%= link_to @rec.recipe_name, brew %></td>
            <td><%= brew.created_at %></td>
            <td><%= link_to @rec_code, @rec %></td>
              <% if current_user?(brew.user) %>
                <td>
                  <%= link_to 'Edit', edit_brew_path(brew), :class => 'btn btn-mini' %>
                  <%= link_to 'Delete', brew, method: :delete, confirm: 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
                </td>
              <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
    <% if current_user?(@user) %>
      <%= link_to 'Record New Brew', recipes_path, :class => 'btn btn-primary' %>
    <% end %>
    <% if current_user?(@user) %>
    <hr></hr>
      <h3>My Recipes (<%= @user.recipes.count %>)</h3>
    <% else %>
      <h3><%= @user.name %>'s Recipes (<%= @user.recipes.count %>)</h3>
    <% end %>
    <% if @user.recipes.count != 0 %>
   

      <% @ww_std_recipes = @recipes.select { |recipe| recipe.brewing_method == 'WW Standard Kits'} %> 
      <% @ww_adv_recipes = @recipes.select { |recipe| recipe.brewing_method == 'WW Advanced'} %> 
      <% @extract_recipes = @recipes.select { |recipe| recipe.brewing_method == 'Extract'} %> 
      <% @extract_steep_recipes = @recipes.select { |recipe| recipe.brewing_method == 'Extract + Steeping'} %> 
      <% @partial_mash_recipes = @recipes.select { |recipe| recipe.brewing_method == 'Partial Mash'} %>
      <% @all_grain_recipes = @recipes.select { |recipe| recipe.brewing_method == 'All Grain'} %> 

    
      <% if @ww_std_recipes.count != 0 %>
        <h4>WiliamsWarn Standard Kits</h4>
                  
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Recipe Name</th>
              <th>Beer Style</th>
              <th>Created at</th>
              <% if current_user?(@user) %>
                <th>Actions</th>
              <% end %>
            </tr>
          </thead>

        <% @ww_std_recipes.each do |recipe| %>    
  
          <tbody>      
            <td><%= link_to recipe.recipe_name, recipe %></td>
            <% if recipe.beer_style != "" %>
              <td><%= recipe.beer_style %></td>
            <% else %>
              <td><%= recipe.generic_category %></td>
            <% end %>
            <td><%= recipe.created_at %></td>
            <% if current_user?(recipe.user) %>
                <td>
                  <%= link_to 'Edit', edit_recipe_path(recipe), :class => 'btn btn-mini' %>
                  <%= link_to 'Delete', recipe, method: :delete, confirm: 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
                </td>
            <% end %>
          </tbody>
        <% end %>
        </table> 
      <% end %>   

      <% if @ww_adv_recipes.count != 0 %>
        <h4>WiliamsWarn Advanced</h4>
                  
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Recipe Name</th>
              <th>Beer Style</th>
              <th>Created at</th>
              <% if current_user?(@user) %>
               <th>Actions</th>
              <% end %>
            </tr>
          </thead>

        <% @ww_adv_recipes.each do |recipe| %>    
  
          <tbody>      
            <td><%= link_to recipe.recipe_name, recipe %></td>
            <% if recipe.beer_style != "" %>
              <td><%= recipe.beer_style %></td>
            <% else %>
              <td><%= recipe.generic_category %></td>
            <% end %>
            <td><%= recipe.created_at %></td>
            <% if current_user?(recipe.user) %>
                <td>
                  <%= link_to 'Edit', edit_recipe_path(recipe), :class => 'btn btn-mini' %>
                  <%= link_to 'Delete', recipe, method: :delete, confirm: 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
                </td>
            <% end %>
          </tbody>
        <% end %>
        </table> 
      <% end %>   

      <% if @extract_recipes.count != 0 %>
        <h4>Extract</h4>
                  
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Recipe Name</th>
              <th>Beer Style</th>
              <th>Created at</th>
              <% if current_user?(@user) %>
                <th>Actions</th>
              <% end %>
            </tr>
          </thead>

        <% @extract_recipes.each do |recipe| %>    
  
          <tbody>      
            <td><%= link_to recipe.recipe_name, recipe %></td>
            <% if recipe.beer_style != "" %>
              <td><%= recipe.beer_style %></td>
            <% else %>
              <td><%= recipe.generic_category %></td>
            <% end %>
            <td><%= recipe.created_at %></td>
            <% if current_user?(recipe.user) %>
                <td>
                  <%= link_to 'Edit', edit_recipe_path(recipe), :class => 'btn btn-mini' %>
                  <%= link_to 'Delete', recipe, method: :delete, confirm: 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
                </td>
            <% end %>
          </tbody>
        <% end %>
        </table> 
      <% end %>   

      <% if @extract_steep_recipes.count != 0 %>
        <h4>Extract + Steeping</h4>
                  
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Recipe Name</th>
              <th>Beer Style</th>
              <th>Created at</th>
              <% if current_user?(@user) %>
                <th>Actions</th>
              <% end %>
            </tr>
          </thead>

        <% @extract_steep_recipes.each do |recipe| %>    
  
          <tbody>      
            <td><%= link_to recipe.recipe_name, recipe %></td>
            <% if recipe.beer_style != "" %>
              <td><%= recipe.beer_style %></td>
            <% else %>
              <td><%= recipe.generic_category %></td>
            <% end %>
            <td><%= recipe.created_at %></td>
            <% if current_user?(recipe.user) %>
                <td>
                  <%= link_to 'Edit', edit_recipe_path(recipe), :class => 'btn btn-mini' %>
                  <%= link_to 'Delete', recipe, method: :delete, confirm: 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
                </td>
            <% end %>
          </tbody>
        <% end %>
        </table> 
      <% end %>        


      <% if @partial_mash_recipes.count != 0 %>
        <h4>Partial Mash</h4>
                  
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Recipe Name</th>
              <th>Beer Style</th>
              <th>Created at</th>
              <% if current_user?(@user) %>
                <th>Actions</th>
              <% end %>
            </tr>
          </thead>

        <% @partial_mash_recipes.each do |recipe| %>    
  
          <tbody>      
            <td><%= link_to recipe.recipe_name, recipe %></td>
            <% if recipe.beer_style != "" %>
              <td><%= recipe.beer_style %></td>
            <% else %>
              <td><%= recipe.generic_category %></td>
            <% end %>
            <td><%= recipe.created_at %></td>
            <% if current_user?(recipe.user) %>
                <td>
                  <%= link_to 'Edit', edit_recipe_path(recipe), :class => 'btn btn-mini' %>
                  <%= link_to 'Delete', recipe, method: :delete, confirm: 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
                </td>
            <% end %>
          </tbody>
        <% end %>
        </table> 
      <% end %>    

      <% if @all_grain_recipes.count != 0 %>
        <h4>All Grain</h4>
                  
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Recipe Name</th>
              <th>Beer Style</th>
              <th>Created at</th>
              <% if current_user?(@user) %>
                <th>Actions</th>
              <% end %>
            </tr>
          </thead>

        <% @all_grain_recipes.each do |recipe| %>    
  
          <tbody>      
            <td><%= link_to recipe.recipe_name, recipe %></td>
            <% if recipe.beer_style != "" %>
              <td><%= recipe.beer_style %></td>
            <% else %>
              <td><%= recipe.generic_category %></td>
            <% end %>
            <td><%= recipe.created_at %></td>
            <% if current_user?(recipe.user) %>
                <td>
                  <%= link_to 'Edit', edit_recipe_path(recipe), :class => 'btn btn-mini' %>
                  <%= link_to 'Delete', recipe, method: :delete, confirm: 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
                </td>
            <% end %>
          </tbody>
        <% end %>
        </table> 
      <% end %>    


    <% end %>
   

    <% if current_user?(@user) %>
      <%= link_to 'Create New Recipe', new_recipe_path, :class => 'btn btn-primary' %>
    <% end %>

  </div>
</div>
