<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <h3>All Recipes (<%= @user.recipes.count %>)</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Recipe Code</th>
          <th>Created at</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @recipes.each do |recipe| %>
          <tr>
            
            <td><%= link_to recipe.recipe_code, recipe %></td>
            <td><%= recipe.created_at %></td>
              <% if current_user?(recipe.user) %>
                <td>
                  <%= link_to 'Edit', '#', :class => 'btn btn-mini' %>
                  <%= link_to 'Delete', recipe, method: :delete, confirm: 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
                </td>
              <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
   
    <%= link_to 'Create New Recipe', new_recipe_path, :class => 'btn btn-primary' %>
  </div>
</div>
